weather
test.csv
test_forecast.csv
examples/.ipynb_checkpoints
nasa_test.py
__pycache__
test
test.txt
front
sustainable_energy_project_444
sustainable_energy_project_attemt_1
forecast_data_3.json
front.zip
historical_data_3.json
observation_data_3.txt
sustainable_energy_project_2.zip
sustainable_energy_project_3.zip
sustainable_energy_project_444.zip
sustainable_energy_project_almost.zip
sustainable_energy_project_final.zip
sustainable_energy_project_two_buttons.zip
sustainable_energy_project.rar
key.py