<!doctype html>

<html>

<head>

    <title>About Us</title>
    <link href="static/styles/style_about_us.css?v=1.0" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="main-part">

        <div class="navbar">
            <a href='/'>
                <div class="navbar-button">HOME</div>
            </a>
            <div class="navbar-button-selected">ABOUT US</div>
            <a href='contact_us.html'>
                <div class="navbar-button">CONTACT US</div>
            </a>
        </div>

        <div class="logo">
            About Us
        </div>

        <div class="boxes">
            <div class="box">
                <h3>CURRENT SITUATION<h3>
                        <p> Nowadays, more and more people prefer alternative energy sources
                            to traditional ones because of absence of harmful
                            emissions into the atmosphere, environmental friendliness, inexhaustibility of resources,
                            safety for the environment, economic benefit and long service life. In addition,
                            there is a tendency to abandon traditional energy sources due to their exhaustion.
                            The time when the reserves of fuel and energy resources are depleted is very
                            close - it is commensurate with the change from 2-3 to 5-6 generations.</p>

            </div>
            <div class="box">
                <h3>THE PROBLEM<h3>
                        <p> That is why, despite the high cost of equipment, people are willing
                            to spend huge sums on renewable energy installations. However,
                            their effectiveness largely depends on the characteristics of
                            the climate, which can complicate the use of solar energy, wind
                            and other natural phenomena. And, unfortunately, due to such
                            ignorance, people very often lose their investments, which is
                            why we want to prevent it.</p>

            </div>
            <div class="box">
                <h3>OUR AIM<h3>
                        <p> The problem that our team will study is to assess the cost-effectiveness
                            of installing a variety of alternative energy sources, and to determine
                            the most favorable locations near the user's location. The assessment
                            of the benefits and profitability of the use of renewable energy sources,
                            such as solar or wind, in any part of the world, will be based on data
                            on weather conditions and other natural factors that are important for
                            these sources. An interactive map will be developed to present the results
                            of the study.</p>

            </div>

        </div>


    </div>


</body>

</html>