<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/contact_us.css?v=1.0" rel="stylesheet" type="text/css">
    <title>Document</title>

</head>

<body>
    <div class="navbar">
        <a href='/'>
            <div class="navbar-button">HOME</div>
        </a>
        <a href='about_us.html'>
            <div class="navbar-button">ABOUT US</div>
        </a>
        <div class="navbar-button-selected">CONTACT US</div>
    </div>
    <div class="logo">
        Contact us
    </div>

    <div class="people">
        <div class="person-profile">
            <h3>DARIA MINIEIEVA<h3>
                    <img src="static/styles/images/dasha.jpg">
                    <div class="contact-info">
                        <div class="contact">
                            <img src="static/styles/images/gmail_svg.png">
                            dasha.min03@gmail.com
                        </div>
                    </div>
        </div>
        <div class="person-profile">
            <h3>OLENA KARAIM<h3>
                    <img src="static/styles/images/oleno4ka.jpg">
                    <div class="contact-info">
                        <div class="contact">
                            <img src="static/styles/images/gmail_svg.png">
                            olenakaraim1@gmail.com
                        </div>
                    </div>


        </div>
        <div class="person-profile">
            <h3>DARYNA KOSYK<h3>
                    <img src="/static/styles/images/me.jpg">
                    <div class="contact-info">
                        <div class="contact">
                            <img src="static/styles/images/gmail_svg.png">
                            daryna.kosyk@gmail.com
                        </div>
                    </div>


        </div>
        <div class="person-profile">
            <h3>ROSTYSLAV SYDOR<h3>
                    <img src="/static/styles/images/rostyk.jpg">
                    <div class="contact-info">
                        <div class="contact">
                            <img src="static/styles/images/gmail_svg.png">
                            dont.contact.me@gmail.com
                        </div>
                    </div>

        </div>

    </div>
</body>

</html>