<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/mainpage.css?v=1.0" rel="stylesheet" type="text/css">
    <title>Document</title>

</head>


<body>

    <div class="navbar">
        <div class="navbar-button-selected">HOME</div>
        <a href='about_us.html'>
            <div class="navbar-button">ABOUT US</div>
        </a>
        <a href='contact_us.html'>
            <div class="navbar-button">CONTACT US</div>
        </a>
    </div>

    <div class="logo">
        Sustainable Energy Project
    </div>

    <div class="boxes">

        <div class="box">
            <h3>SOLAR PANELS<h3>
                    <p> Find out the information about solar panel's efficiency in your location depending on the
                        weather
                        conditions. Get the analysis of the nearby territory's solar panel efficiency potential
                        depending on
                        the radius you choose. Choose
                        the best option to installate solar panel according to program's advice.</p>
                    <a href='solar_panels.html'>
                        <div class="box-button">Next</div>
                    </a>

        </div>

        <div class="box">
            <h3>WIND TURBINES<h3>
                    <p> Find out the information about wind turbine's efficiency in your location depending on the
                        weather
                        conditions. Get the analysis of the nearby territory's wind turbine efficiency potential and
                        choose
                        the best place and direction of the turbine according to program's advice.</p>
                    <a href='wind_turbines.html'>
                        <div class="box-button">Next</div>
                    </a>

        </div>

    </div>


</body>

</html>