*
{
    margin: 0;
    padding: 0;
}


body
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/wind-energy.jpg);
    background-position-x: -200px;

}

a {
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 5%;

}

.navbar-button {
    height: 30px;
    padding: 0 15px;
    text-align: center;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.navbar-button:hover {
    border: 1px solid #ffffff;
}

.navbar-button-selected {
    height: 30px;
    padding: 0 15px;
    text-align: center;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    border: 1px solid #ffffff;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    text-align: center;
}


.main-part 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.logo 
{
    color: white;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    margin-bottom: 5%;
}

.forms 
{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 7%;
    flex-wrap: wrap;
}

.forms_2
{
    /* display: flex; */
    width: 70%;
}

.input-form 
{
    border-radius: 40px;
    text-align: center;
    outline: none;
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 270px;
    border: 0;
    color: rgba(0, 0, 0, 0.61);
    font-size: 15px
}


.text-box {
    /* margin-left: -25%; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

}

.btn {
    height: 100px;
    width: 350px;
    border: none;
    border-radius: 70px;
    background-color: rgb(243, 227, 138);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(7, 7, 7, 0.6);
    margin: 0 10px;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
}


.btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 241, 163);
}
